@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

.line1 {
  height: 3px;
  background: #d0cccc;
  width: 33px;
  margin-left: 40%;
}

.graph_grid_item {
  height: 40rem;
  width: auto;
}

.App {
  background-color: #f8f1e5;
  border-top-right-radius: 80px;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 0;
  float: right;
}

.footer {
  position: absolute;
  float: left;
  width: 100%;
  bottom: 0;
  z-index: 9;
  justify-items: center;
  text-align: center;
  font-size: 22px;
  margin-bottom: 2%;
  color: white;
}

a:link {
  text-decoration: none;
  color: #ff9d2b;
}

a:visited {
  text-decoration: none;
  color: #ff9d2b;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
body {
  background-color: #262424;
  height: 110vh;
  margin: 0%;
  background-image: url("./images/congruent_outline.png");
  background-repeat: repeat;
  background-position: left bottom;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.OrangeButton {
  margin: 5%;
  width: 144px;

  border-radius: 12px;
  background-color: #f0810f;
  box-shadow: 3px 3px 4px 0px rgb(0, 0, 0, 0.5);
  color: white;
  padding: 4% 1.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.5s;
  border-width: 0px;
}

.OrangeButton:hover {
  background-color: #2f3131;
  border-color: #f9ba32;
  /*   box-shadow: 0px 0px; */
  color: #f9ba32;
  /*   background-color: #ce931d;*/
}

.OrangeButton:active {
  background-color: black;
  border-color: #ffa500;
  box-shadow: 0px 0px;
  color: #ffa500;
}

.ResetButton {
  width: 4rem;
  height: auto;
  border-radius: 5px;
  background-color: #2a9ecf;
  box-shadow: 3px 3px 4px 0px rgb(0, 0, 0, 0.5);
  color: white;
  padding: 0.8% 0.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.5s;
  border-width: 0px;
  position: relative;

  z-index: 3;
}

.ResetButton:hover {
  background-color: #2f3131;
  border-color: #f9ba32;
  color: #f9ba32;
}

.ResetButton:active {
  background-color: black;
  border-color: #ffa500;
  box-shadow: 0px 0px;
  color: #ffa500;
}
