@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

.grid_container {
  display: grid;
  column-gap: 0rem;
  row-gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: 69.7vw auto;
  grid-template-rows: 20rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin: 4rem 4rem;
}
.line1 {
  height: 3px;
  background: #d0cccc;
  width: 33px;
  margin-left: 40%;
}

.graph_grid {
  grid-row: 1/ 2;
  grid-column: 1/2;
}
.graph_grid_item {
  height: 40rem;
  width: auto;
  /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696; */
}
.item1 {
  grid-row: 1;
  grid-column: 3;
  justify-content: center;
}
.item2 {
  grid-row: 2;
  grid-column: 3;
}

.App {
  background-color: #f8f1e5;
  /* min-height: 72rem;
  max-height: 72rem; */

  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

/* .bottom {
  position: relative;
  width: 94vw;
  height: 4vh;
  bottom: 0;
  margin-top: 12vh;
  z-index: 0;
  left: 0;
  float: left;
} */

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 0;
  float: right;
}

.footer {
  /*top: 40vh;*/
  position: static;
  float: inline-start;
  bottom: 0;
  z-index: 9;
  justify-items: center;
  text-align: center;
  font-size: 22px;
  color: white;
}

a:link {
  text-decoration: none;
  color: #ff9d2b;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: #ff9d2b;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
body {
  background-color: #262424;
  height: 110vh;
  margin: 0%;
  background-image: url("./images/congruent_outline.png");
  background-repeat: repeat;
  background-position: left bottom;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.OrangeButton {
  margin: 5%;
  width: 144px;

  border-radius: 12px;
  background-color: #f0810f;
  box-shadow: 3px 3px 4px 0px rgb(0, 0, 0, 0.5);
  color: white;
  padding: 4% 1.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.5s;
  border-width: 0px;
}

.OrangeButton:hover {
  background-color: #2f3131;
  border-color: #f9ba32;
  /*   box-shadow: 0px 0px; */
  color: #f9ba32;
  /*   background-color: #ce931d;*/
}

.OrangeButton:active {
  background-color: black;
  border-color: #ffa500;
  box-shadow: 0px 0px;
  color: #ffa500;
}

.ResetButton {
  width: 4rem;
  height: auto;
  border-radius: 5px;
  background-color: #2a9ecf;
  box-shadow: 3px 3px 4px 0px rgb(0, 0, 0, 0.5);
  color: white;
  padding: 0.8% 0.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.5s;
  border-width: 0px;
  position: relative;

  z-index: 3;
}

.ResetButton:hover {
  background-color: #2f3131;
  border-color: #f9ba32;
  /*   box-shadow: 0px 0px; */
  color: #f9ba32;
  /*   background-color: #ce931d;*/
}

.ResetButton:active {
  background-color: black;
  border-color: #ffa500;
  box-shadow: 0px 0px;
  color: #ffa500;
}
