@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.grid_container {
  display: grid;
  column-gap: 4rem;
  row-gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: 70rem auto;
  grid-template-rows: 20rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.graph_grid {
  grid-row: 1/ 2;
  grid-column: 1/2;
}
.graph_grid_item {
  height: 40rem;
  width: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  background-color: white;
}
.item1 {
  grid-row: 1;
  grid-column: 2;
}
.item2 {
  grid-row: 2;
  grid-column: 2;
}

.App {
  margin: 0px 6rem;
  background-color: #f1f0ee;
  height: 100vh;
  padding: 1rem 1rem;
}

body {
  background-color: #262424;
  height: max-content;
  margin: 0%;
}
